body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Cards */
.card-container {
  margin: 0 auto;
  max-width: 75%;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #f5f5f5;
}
#components-tabs-demo-card-top .code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  align-items: center;
  justify-content: center;
}

.question-list {
  display: grid;
  grid-gap: 1rem;
}
/* Home Cards End */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

a {
  text-decoration: none;
  color: gray;
}

.nav {
  display: flex;
  height: 5rem;
  background-color: white;
}

.start-nav-ul {
  flex-grow: 4;
}

.end-nav-ul {
  flex-grow: 0;
}

.nav .login-user-title {
  padding: 0 1rem;
}

.nav ul {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  border-bottom: 1px lightskyblue solid;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  font-size: 1.1rem;
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav-title {
  padding: 5px;
}

.active {
  font-weight: bold;
  color: #1890ff;
}

.user-avatar {
  margin: 0 0.5rem;
}

/* Question Card */
.question-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
}

.question-content-divider {
  height: 5.5rem;
  margin: 0 0.7rem 0 2.5rem;
}

.question-content-details {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.question-content-details__poll_btn {
  margin-top: 1rem;
  width: 100%;
}

.question-radio-option {
  display: block;
  height: 30px;
  lineHeight: 30px;
}

.unanswered-question-section {
  display: flex;
  flex-flow: column wrap;
}

.unanswered-question-section__btn {
  margin-top: 0.7rem;
}

.answered-question-details {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.ant-progress-inner {
  border-radius: 0.3rem;
}

.ant-progress-bg {
  border-radius: 0.3rem;
}

.answered-question-vertical-divider {
  border-top: 1px solid #52c41a;
  margin: 15px 0;
}
/* Question Card End */

/* Question Page */
.question-page-container {
  margin: 0 auto;
  width: 75%;
}
/* Question Page End */

/* New Question */
.new-question-container {
  margin: 0 auto;
  width: 75%;
  padding: 1rem;
  border: 1px #f5f5f5 solid;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
}

.new-question-btn {
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  width: 100%;
}

/* New Question End */

/* Loading Spinner */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Loading Spinner End */